.btn-custom {
  --bs-btn-hover-bg: #f59c29!important;
  --bs-btn-color: var(--bs-black);
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-font-weight: 500;
  --bs-btn-bg: #febd69;
  --bs-btn-border-color: #f59c29;
  --bs-btn-hover-border-color: #f59c29;
}
